<html>

<head>
	<style>

	</style>
</head>

<body>
	<p>Hello {{name}}
	</p>
	<p>Your password has been changed successfully.</p>
	<p>If you did not initiate this request, please contact support immediately.</p>
</body>

</html>